.slick-prev {
  left: -18px;
}
.slick-next {
  right: -18px;
}
.slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .slick-list {
    margin: 0 10px !important;
  }
}
